<h3>Get Shipping Estimates:</h3>

<%= form_tag order_shipping_estimates_path do %>

  <%= label_tag :address %>
  <%= text_field_tag :address %>

  <%= label_tag :city %>
  <%= text_field_tag :city %>

  <%= label_tag :state %>
  <%= text_field_tag :state %>

  <%= label_tag :zip %>
  <%= text_field_tag :zip %>

  <%= label_tag :country %>
  <%= text_field_tag :country %>

  <%= submit_tag 'Get Shipping Estimate' %>
<% end %>
