<h3>Get Shipping Estimates:</h3>

<div class="form-group">
  <%= form_tag order_shipping_estimates_path, :html => {class: 'form-group'} do %>

    <%= label_tag :address %>
    <%= text_field_tag :address, {:class => 'form-control'} %>

    <%= label_tag :city %>
    <%= text_field_tag :city %>

    <%= label_tag :state %>
    <%= select_tag(:state, options_for_select(@states)) %>

    <%= label_tag :zip %>
    <%= text_field_tag :zip %>

    <%= label_tag :country %>
    <%= text_field_tag (:country) %>

    <%= submit_tag 'Get Shipping Estimate' %>
  <% end %>
</div>
