<table class="table">
  <thead>
    <tr>
      <th>Shipping Type</th>
      <th>Shipping Cost</th>
      <th>Estimated Delivery Date</th>
      <th>Choose Option</th>
    </tr>
  </thead>

  <% @response.each do |key, value| %>
    <tr><th colspan="4"><%= key.upcase %> OPTIONS</th></tr>
    <% value.each do |delivery_type| %>
      <tr>
        <td><%= delivery_type[0] %></td>
        <td><%= shipping_cost(delivery_type[1]) %></td>
        <td><%= delivery_date(delivery_type[2]) unless delivery_type[2].nil? %></td>
        <td><%= link_to "Select", order_select_shipping_method_path(delivery_method: delivery_type[0], shipping_cost: delivery_type[1]) %></td>
      </tr>
    <% end %>
  <% end %>

</table>

<div class="row">
  <div class="col-md-offset-11">
    <%= link_to "Payment Details", edit_order_path(current_order.id), class: "btn btn-primary" %>
  </div>
</div>
